In [1]:
"""
날짜 : 2023/01/13
이름 : 서정현
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""

import pymysql

In [2]:
# insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "INSERT INTO `user3` VALUES('h101', '김갑수', '010-3333-2934', '12')"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
cur.close()
print('insert 완료...')

insert 완료...

In [3]:
# update 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "UPDATE `user3` SET "
sql += "`name`='홍길동',"
sql +="`hp`='010-1111-1111',"
sql += "`age`='30' "
sql += "WHERE `uid`='h101'"

cur.execute(sql)
conn.commit()

# 데이터베이스 종료
cur.close()
print('Update 완료...')

Update 완료...

In [5]:
# delete 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "DELETE FROM `user3` WHERE `uid` = 'h101' "

cur.execute(sql)
conn.commit()

# 데이터베이스 종료
cur.close()
print('Delete 완료...')

Delete 완료...

In [13]:
# SELECT 실습

from sub.User3VO import User3VO

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "SELECT * FROM `user3`"

cur.execute(sql)
conn.commit()

# 결과 데이터 생성
users = []

for row in cur.fetchall():

    user = User3VO(row[0], row[1], row[2], row[3])
    users.append(user)

# 데이터베이스 종료
cur.close()
print('Select 완료...')

# 결과출력
for user in users:
    print('----------------------')
    print('아이디 :', user.uid)
    print('이름 :', user.name)
    print('휴대폰 :', user.hp)
    print('나이 :', user.age)

Delete 완료...
----------------------
아이디 : a101
이름 : 김유신
휴대폰 : 010-1234-1001
나이 : 30
----------------------
아이디 : a102
이름 : 김춘추
휴대폰 : 010-1234-1002
나이 : 23
----------------------
아이디 : a103
이름 : 장보고
휴대폰 : 010-1234-1003
나이 : 33
----------------------
아이디 : a105
이름 : 이순신
휴대폰 : 010-1234-1005
나이 : 53
----------------------
아이디 : a201
이름 : 김유신
휴대폰 : 010-1234-1007
나이 : 53
----------------------
아이디 : s102
이름 : 아무개
휴대폰 : 010-1234-1111
나이 : 27