In [3]:
"""
날짜 : 2023/01/04
이름 : 서정현
내용 : 파이썬 자료구조 List 실습하기
"""

'\n날짜 : 2023/01/04\n이름 : 서정현\n내용 : 파이썬 자료구조 List 실습하기\n'

In [6]:
# 리스트
data = [1, 2, 3, 4, 5]
print('data type "', type(data))
print('data[0] :', data[0])
print('data[1] :', data[1])
print('data[2] :', data[2])
print('data[3] :', data[3])

data type " <class 'list'>
data[0] : 1
data[1] : 2
data[2] : 3
data[3] : 4

In [10]:
# 여러 종류 데이터를 저장하는 리스트
data = [5, 3.14, True, 'Apple']
print('data type "', type(data))
print('data[0] :', data[0])
print('data[0] type :', type(data[0]))
print('data[1] :', data[1])
print('data[1] type :', type(data[1]))
print('data[2] :', data[2])
print('data[2] type :', type(data[2]))
print('data[3] :', data[3])
print('data[3] type :', type(data[3]))

data type " <class 'list'>
data[0] : 5
data[0] type : <class 'int'>
data[1] : 3.14
data[1] type : <class 'float'>
data[2] : True
data[2] type : <class 'bool'>
data[3] : Apple
data[3] type : <class 'str'>

In [12]:
# 다차원 리스트
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
print('date[0][0] :', data[0][0])
print('date[1][1] :', data[1][1])
print('date[2][1] :', data[2][1])

date[0][0] : 1
date[1][1] : 5
date[2][1] : 8

In [20]:
# 리스트 수정, 추가, 삭제
data = [1, 2, 3, 4, 5]

data[1] = 7
print('data :', data)

data[2:4] = [7, 8, 9]
print('data :', data)

data[3:5] = []
print('data :', data)

data : [1, 7, 3, 4, 5]
data : [1, 7, 7, 8, 9, 5]
data : [1, 7, 7, 5]

In [29]:
# 리스트 반복문
data = [1, 3, 5, 7, 9]
for n in data:
    print('n :', n)

cities = ['서울', '대전', '대구', '부산', '광주']
for city in cities:
    print('city :', city)

for index, value in enumerate(cities):
    print('cities[%d] : %s' % (index, value))

n : 1
n : 3
n : 5
n : 7
n : 9
city : 서울
city : 대전
city : 대구
city : 부산
city : 광주
cities[0] : 서울
cities[1] : 대전
cities[2] : 대구
cities[3] : 부산
cities[4] : 광주

In [33]:
# 리스트 comprehension
data = [1, 2, 3, 4, 5]

rs1 = [num * 2 for num in data]
rs2 = [num * 3 for num in data if num % 2 == 1]

print(rs1)
print(rs2)

[2, 4, 6, 8, 10]
[3, 9, 15]